# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_MINIKI_LEFT
	def_bool $(shields_list_contains,miniki_left)

config SHIELD_MINIKI_RIGHT
	def_bool $(shields_list_contains,miniki_right)
